In [37]:
import pandas as pd

In [38]:
# import some data to play with
df = pd.read_csv("Fraud_check.csv")
df.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [39]:
inputs=df.drop('Taxable.Income',axis='columns')
target =df['Taxable.Income']

In [40]:
inputs

    Undergrad Marital.Status  City.Population  Work.Experience Urban
0          NO         Single            50047               10   YES
1         YES       Divorced           134075               18   YES
2          NO        Married           160205               30   YES
3         YES         Single           193264               15   YES
4          NO        Married            27533               28    NO
..        ...            ...              ...              ...   ...
595       YES       Divorced            39492                7   YES
596       YES       Divorced            55369                2   YES
597        NO       Divorced           154058                0   YES
598       YES        Married           180083               17    NO
599        NO       Divorced           158137               16    NO

[600 rows x 5 columns]

In [41]:
target

0      68833
1      33700
2      36925
3      50190
4      81002
       ...
595    76340
596    69967
597    47334
598    98592
599    96519
Name: Taxable.Income, Length: 600, dtype: int64

In [46]:
from sklearn.preprocessing import LabelEncoder

In [48]:
le_Undergrad = LabelEncoder()
le_Marital.Status = LabelEncoder()
le_City.Population = LabelEncoder()
le_Work.Experience = LabelEncoder()
le_Urban = LabelEncoder()

NameError: name 'le_Marital' is not defined